# Artifacts
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environments
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/

# DVC
/data/processed/

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/

# Reports (regenerated)
reports/

# Docker
.dockerignore
